:javascript
  $(function() {
    $('#star-average').raty({ readOnly: true, score: 4.5 });
  });
  $(function() {
    $('#star-average1').raty({ readOnly: true, score: 3 });
  });
  $(function() {
    $('#star-average2').raty({ readOnly: true, score: 5 });
  });
  $(function() {
    $('#star5').raty({ readOnly: true, score: 5 });
  });
  $(function() {
    $('#star4').raty({ readOnly: true, score: 4 });
  });
  $(function() {
    $('#star3').raty({ readOnly: true, score: 3 });
  });
  $(function() {
    $('#star2').raty({ readOnly: true, score: 2 });
  });
  $(function() {
    $('#star1').raty({ readOnly: true, score: 1 });
  });
