- content_for :content do
  = render "ratings_javascript"

- content_for :content do
  #search
    .row.visible-xs
      .col-xs-12
        Search bar
    .row
      .col-sm-3.hidden-xs
        #search-bar.row
          .col-sm-12
            .marketplace-filters
              = render "search_filters"
      = render "expert_list"
