%footer
  .row
    .col-lg-2.col-lg-offset-1.col-sm-2.col-sm-2-offset-1
      %ul.list-unstyled{style: "padding-top:0px"}
        %li
          Lorious
        %hr{style: "height:2px; visibility:hidden; margin: 0px 0px 0px 0px;"}
        %li
          %a{:href => "#"} About us
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Contact us

    .col-lg-2.col-sm-2
      %ul.list-unstyled{style: "padding-top:0px"}
        %li Connect
        %hr{style: "height:2px; visibility:hidden; margin: 0px 0px 0px 0px;"}
        %li
          %a{:href => "https://www.facebook.com/pages/Lorious/357664217669583"}
            %i.icon-facebook
            Facebook
        %li
          %a{:href => "https://twitter.com/intent/user?screen_name=LoriousTweets"}
            %i.icon-twitter
            Twitter
    .col-lg-7.col-sm-7.logo_legal
      %ul.list-unstyled{style: "margin-bottom:0px; padding-top: 0px;"}
        %li
          %a{href: "/"}
            =image_tag 'https://s3.amazonaws.com/lorious/layout/lorious_2color.svg', width: '120px'
        %hr{style: "height:5px; visibility:hidden; margin: 0px 0px 0px 0px;"}

        %li
          %p.muted
            © 2013 Lorious. All rights reserved.
          %p.muted
            =link_to("Terms of Service and Privacy Policy", "#")
