.well1
  .TZgraph
    %table.tbl_hours{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center;"}
      %tbody
        %tr
          %th
          %th.hrd_am{:colspan => "11"} AM
          %th.hrd_pm
            / %img{:alt => "12 PM", :src => "/asset/v1/images/time/noon.png"}/
          %th.hrd_pm{:colspan => "12"} PM
        %tr.time-header
          %th
          %th.verticaltext
            12
            / %br/
            / %span.daytime AM
          %th.verticaltext 1
          %th.verticaltext 2
          %th.verticaltext 3
          %th.verticaltext 4
          %th.verticaltext 5
          %th.verticaltext 6
          %th.verticaltext 7
          %th.verticaltext 8
          %th.verticaltext 9
          %th.verticaltext 10
          %th.verticaltext 11
          %th.verticaltext
            12
            / %br/
            / %span.daytime PM
          %th.verticaltext 1
          %th.verticaltext 2
          %th.verticaltext 3
          %th.verticaltext 4
          %th.verticaltext 5
          %th.verticaltext 6
          %th.verticaltext 7
          %th.verticaltext 8
          %th.verticaltext 9
          %th.verticaltext 10
          %th.verticaltext 11
        %tr#day_0
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} MONDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_1
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} TUESDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_2
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} WEDNESDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_3
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} THURSDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_4
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} FRIDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_5
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} SATURDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
        %tr#day_6
          %th.normalWeight{:align => "left", :style => "padding-right: 10px;"} SUNDAY
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv.tile  
            .rightDiv.tile  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  
          %td
            .leftDiv  
            .rightDiv  


