#home.row.top-row
  .col-12
    .jumbotron
      %h1 Jumbotron heading
      %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-large.btn-success{:href => "#"} Sign up today
.row#how-it-works
  .col-12
    %h1 How it works
.row
  .col-6
    %h4 How it works
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.
  .col-6
    %h4 Subheading
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.

.row#get-started
  .col-12
    %h1 Get started

.row
  .col-6
    %h4 Get started
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.
  .col-6
    %h4 Subheading
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    %h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    %h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.

= link_to "Sign in with Google", GOOGLE_OAUTH_PATH
