.row
  .col-lg-10.col-lg-offset-1
    %h2
      Privacy Policy

    %p
      LAST REVISED: July 2013

    %p
      This privacy policy (&#8220;Policy&#8221;) describes how Lorious, Inc. and its related companies (&#8220;Company&#8221;) collect, use and share personal information of consumer users of this website, www.Lorious.com (the &#8220;Site&#8221;). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.

    %p
      WHAT WE COLLECT

    %p
      We get information about you in a range of ways.

    %p
      %u Information You Give Us:
      We collect your‎‎ name,‎ email address,‎ phone number,‎ username,‎ password,‎ demographic information (such as your gender and occupation), and other information you directly give us on the Site.

    %p
      %u Information We Get from Others:
      We may get information about you from other sources. We may add this to information we get from the Site.

    %p
      %u Information Automatically Collected:
      We automatically log information about you and your computer. For example, when visiting the Site, we log ‎your computer operating system type,‎ browser type,‎ browser language,‎ the website you visited before browsing to the Site,‎ pages you viewed,‎ how long you spent on a page,‎ access times and information about your use of and actions on the Site.

    %p
      %u Cookies:
      We may log information using &#8220;cookies&#8221;. Cookies are small data files stored on your hard drive by a website. Cookies help us make the Site and your visit better. We use cookies to see which parts of the Site people use and like and to count visits to the Site.

    %p
      %u Web Beacons:
      We may log information using digital images called Web beacons on the Site or in our emails. We use Web beacons to manage cookies, count visits, and to learn what marketing works and what does not. We also use Web Beacons to tell if you open or act on our emails.

    %p
      USE OF PERSONAL INFORMATION

    %p
      We use your personal information as follows:

      %ul
        %li
          %p We use your personal information to operate, maintain, and improve the Site, our products, and services.
        %li
          %p We use your personal information to respond to comments and questions and provide customer service.
        %li
          %p We use your personal information to send information including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages.
        %li
          %p We use your personal information to communicate about promotions, upcoming events, and other news about products and services offered by us and our selected partners.
        %li
          %p We use your personal information to protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.
        %li
          %p We use your personal information to provide and deliver products and services customers request.

    %p
      SHARING OF PERSONAL INFORMATION

    %p
      We may share personal information as follows:

      %ul
        %li
          %p We may share personal information with your consent. For example, you may let us share personal information with others for their own marketing uses. Those uses will be subject to their privacy policies.
        %li
          %p We may share personal information when we do a business deal, or negotiate a business deal, involving sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.
        %li
          %p We may share personal information for legal, protection, and safety purposes.
        %li
          %p We may share information to comply with laws.
        %li
          %p We may share information to respond to lawful requests and legal process.
        %li
          %p We may share information to protect the rights and property of Lorious, Inc., our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.
        %li
          %p We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.
        %li
          %p We may share information with those who need it to do work for us.
        %li
          %p We may also share aggregated and/or anonymized data with others for their own uses.

    %p
      INFORMATION CHOICES AND CHANGES

    %p
      Our marketing emails tell you how to &#8220;opt-out.&#8221; If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.

    %p
      You may send requests about personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information.

    %p
      You can typically remove and reject cookies from the Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how the Site works for you.

    %p
      SECURITY OF YOUR PERSONAL INFORMATION

    %p
      We take steps to help protect personal information. No company can fully prevent security risks, however. Mistakes may happen. Bad actors may defeat even the best safeguards.

    %p
      CONTACT INFORMATION

    %p
      We welcome your comments or questions about this Privacy Policy. You may also contact us at our address: Henry Hund c/o Business Building Program, Vance Hall, Suite 112, 3733 Spruce Street, Philadelphia PA 19104

    %p
      CHANGES TO THIS PRIVACY POLICY

    %p
      We may change this Privacy Policy. If we make any changes, we will change the Last Updated date above.

    %h2
      Terms of Service

    %p
      LAST REVISED ON: July 2013

    %p
      Lorious EVALUATION AGREEMENT

    %p
      Lorious, Inc. (&#8220;Lorious&#8221;) has developed a website that allows users (&#8220;Student Users&#8221;) to seek out and request video sessions with instructors (&#8220;Instructor Users&#8221;) in various fields and areas of expertise (each instructor video, an &#8220;Instructor Session&#8221;).&#8221; This Evaluation Agreement (the &#8220;Agreement&#8221;) governs your access to and use of a pre-release version of the website located at www.Lorious.com (the &#8220;Site&#8221;).  By browsing or using the Site, you signify that you have read, understand, and agree to be bound by this Agreement and that you are able to form a legally binding contract under applicable law.  Without limiting the foregoing, the Site is not available to anyone under the age of 18.  If you do not qualify please do not use the Site.
      We reserve the right, at our discretion, to change, modify, add, or delete portions of this Agreement at any time.  If you have provided us with your email address when you use the Site, we will notify you at your email address of any material changes to this Agreement.  In addition, we will post the revised Agreement at the Site.  You agree that your continued use of the Site after the effective date of such amended Agreement shall constitute your acceptance of the amended Agreement.  If you do not agree to abide by the Agreement, or any amended Agreement, do not use (or continue to use) the Site.  It is your responsibility to regularly check the Site to determine if there have been changes to this Agreement and to review such changes.

    %p
      1. IMPORTANT DISCLAIMER. ALL INFORMATION CONTAINED ON THE WEBSITE IS FOR INFORMATIONAL PURPOSES ONLY. LORIOUS DOES NOT ASSUME ANY LIABILITY FOR INACCURACIES OR MISSTATEMENTS MADE AS A PART OF INSTRUCTOR SESSIONS. LORIOUS (AND THE INSTRUCTOR USERS) DO NOT PROVIDE ANY PROFESSIONAL ADVICE INCLUDING BUT NOT LIMITED TO LEGAL, MEDICAL, FINANCIAL OR REAL ESTATE ADVICE. FOR SPECIFIC PROFESSIONAL ADVICE, YOU SHOULD ALWAYS SEEK THE ADVICE OF A PROFESSIONAL WHO IS LICENSED AND KNOWLEDGEABLE IN THAT AREA, SUCH AS AN ATTORNEY, DOCTOR, ACCOUNTANT OR REAL ESTATE AGENT OR BROKER.  LORIOUS IS NOT A LAW FIRM, FINANCIAL INSTITUTION, OR REAL ESTATE COMPANY AND IS NOT SPONSORED BY ANY LAW FIRM, FINANCIAL INSTITUTION, OR REAL ESTATE COMPANY. LORIOUS DOES NOT ENDORSE, AND IS NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT MADE ON THE SITE BY ANY INSTRUCTOR USER. LORIOUS DOES NOT SCREEN INSTRUCTOR USERS TO DETERMINE WHETHER THEY ARE QUALIFIED TO PROVIDE THE INSTRUCTOR SESSIONS THEY PROVIDE USING THE SERVICES. IN ADDITION TO ALL OTHER LIMITATIONS AND DISCLAIMERS IN THIS AGREEMENT, LORIOUS DISCLAIMS ANY LIABILITY OR LOSS IN CONNECTION WITH THE CONTENT PROVIDED ON THE WEBSITE. WITHOUT LIMITING THE FOREGOING AND FOR THE AVOIDANCE OF DOUBT, ANY OPINIONS, ADVICE, OR OTHER INFORMATION OR CONTENT EXPRESSED OR MADE AVAILABLE BY INSTRUCTOR USERS ARE THOSE OF THE RESPECTIVE INSTRUCTOR USER. LORIOUS&#39;S SOLE ROLE IS TO FACILITATE ORGANIZATION OF INSTRUCTOR SESSIONS. THE FOREGOING DISCLAIMER AND LIMITATIONS ON LIABILITY SHALL NOT LIMIT THE MORE GENERAL DISCLAIMERS AND LIMITATIONS ON LIABILITY IN SECTIONS 11 AND 12.

    %p
      2. BACKGROUND.  You acknowledge that you are receiving a pre-release version of the Site and that Lorious has not yet completed quality assurance testing of the Site.

    %p
      3. CONTENT.  &#8220;Content&#8221; means text, images, photos, audio, video, location data, and all other forms of data or communication.  &#8220;User Content&#8221; means Content that a User submits or transmits to, through or in connection with the Site, as well as the substance of any oral or visual content provided by Instructor Users during Instructor Sessions (&#8220;Instructional Content&#8221;). &#8220;Lorious Content&#8221; means Content that we, or our suppliers, create and make available in connection with the Site.

    %p
      4. LICENSE.  Subject to the terms of this Agreement, Lorious grants to Student Users and Instructor Users (collectively, &#8220;Users&#8221;) a royalty-free, nonexclusive, non-transferable, use license to use the Site.  You agree that you will not (a) reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code for the Site; (b) remove, alter, or obscure any proprietary notices or labels in the Site; or (c) publish any performance or benchmark tests or analyses relating to the Site or the use thereof.  The Site provides Student Users with the ability to provide referrals and ratings of Instructor Users and allows Instructor Users to provide certain content related to the Instructor Sessions that they provide and may not be used by you for any other purpose without the prior written approval of Lorious.  You will not interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site, or introduce software or automated agents to the Site.  You will use the Site in a manner consistent with any and all applicable statutes and regulations.

    %p
      5. NO IMPLIED LICENSE.  Lorious and its licensors shall retain all right, title, and interest in the Site.  No license or other rights of any kind are granted or conveyed except for the limited internal license expressly provided herein.

    %p
      6. TERMINATION.  Lorious reserves the right to change or discontinue the Site (or any feature thereof) at any time, with or without notice.  Lorious may terminate this Agreement and your license to use the Site (i) if you are in breach of this Agreement; (ii) if Lorious decides in its sole discretion to stop providing access to the Site; (iii) when Lorious ends the beta test of the Site; or (iv) for any reason or no reason, without giving you notice.  You agree that Lorious will have no liability to you for any termination, modification, or suspension of your license to use the Site.  In the event of expiration or termination of your license, those sections of this Agreement that by their nature are intended by the parties to survive, including but not limited to Sections 7, 8, 9, 10, 11, 12, 13 and 14 shall survive and continue in effect to the extent necessary to protect the rights of the parties.

    %p
      7. FEEDBACK.  You provide, and you agree to provide to Lorious, feedback regarding the use, operation, and functionality of the Site (&#8220;Feedback&#8221;).  Such Feedback shall include, without limitation, any information about operating results, known or suspected bugs, errors or compatibility problems, and user-desired features.  You hereby assign to Lorious all rights in the Feedback and agree that Lorious shall have the right to use such Feedback and related information in any manner it deems appropriate.

    %p
      8. OWNERSHIP.

    %p
      8.1 Your Content.  You agree that you, not Lorious, are responsible for all of the User Content that you upload, post, email, transmit, or otherwise make available (&#8220;Make Available&#8221;) on the Site (&#8220;Your Content&#8221;).  You represent and warrant that you own or have the necessary licenses, rights, consents, and permissions to use Your Content in keeping with your use in connection with the Site or as otherwise permitted by the Agreement.

    %p
      8.2 Use of the Site.  Lorious does not claim ownership of Your Content or other User Content Made Available on the Site. However, you agree that we may use Your Content in a number of different ways, including publicly displaying it, reformatting it, creating derivative works from it, promoting it, and distributing it.  As such, you hereby irrevocably grant us world-wide, non-exclusive, royalty-free, sublicensable transferable rights to use Your Content for any purpose.  You also grant the Users of the Site the right to access Your Content in connection with their use of the Site.  Finally, you irrevocably waive, and cause to be waived, against Lorious and its Users any claims and assertions of moral rights or attribution with respect to Your Content.  By &#8220;use&#8221; we mean use, copy, publicly perform or display, distribute, modify, translate and create derivative works of Your Content.  You agree that Lorious retains the right to create reasonable limits on your use of Content, including Your Content, such as limits on file size, storage space, processing capacity and similar limits, and as otherwise determined by Lorious in its sole discretion.

    %p
      8.3 Username.  Notwithstanding anything contained herein to the contrary, by submitting Your Content to any forums, comments, or any other area on the Site, you hereby expressly permit Lorious to identify you by your username (which may be a pseudonym) as the contributor of Your Content in any publication in any form, media or technology now known or later developed in connection with Your Content.

    %p
      8.4 Lorious Content.  You agree that Lorious and its suppliers own all rights, title, and interest in the Site and all Lorious Content, including but not limited to visual interfaces, interactive features, graphics, design, compilation, computer code, products, software, aggregate consumer review ratings, and all other elements and components of the Site excluding Your Content and User Content.  You will not remove, alter or obscure any copyright, trademark, service mark, or other proprietary rights notices incorporated in or accompanying the Site or the Lorious Content.

    %p
      9. RESPONSIBILITY FOR CONTENT.

    %p
      9.1 User Content.  You acknowledge that you are entirely responsible for Your Content, and other Users of the Site are similarly responsible for their User Content.

    %p
      9.2 No Obligation to Pre-Screen Content. You acknowledge that Lorious has no responsibility for any Instructional Content and has no obligation to pre-screen User Content (including, but not limited to, Your Content and any Instructional Content), although Lorious reserves the right in its sole discretion to pre-screen, refuse, or remove any User Content.  By entering into the Agreement, you hereby provide your irrevocable consent to such monitoring and recording.  In the event that Lorious pre-screens, refuses, or removes any User Content, you acknowledge that Lorious will do so for its benefit, not yours.  Without limiting the foregoing, Lorious shall have the right to remove any User Content that violates the Agreement or is otherwise objectionable.

    %p
      10. ACCEPTABLE USE POLICY.

    %p
      10.1 Content.  You agree that you will not post Content, and if you are an Instructor User, you agree that you will not include any Instructional Content in any Instructor Session, that (a) creates a risk of harm, loss, physical or mental injury, emotional distress, death, or disability, or physical or mental illness to you or any other person; (b) creates a risk of any other loss or damage to any person or property; (c) seeks to harm or exploit children by exposing them to inappropriate content, asks for personal information or otherwise; (d) violates or encourages any conduct that violates any laws or regulations or contains any information or content that is illegal; (e) contains any information or content that Lorious, in its sole discretion, deems to be hateful, violent, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people, libelous, threatening, profane or otherwise objectionable; (f) infringes any third party&#39;s intellectual property rights, privacy rights, rights of publicity, or other personal or proprietary rights; (g) contains any information or content that you do not have a right to make available on the Site under any law or contractual or fiduciary relationship; or (h) is fraudulent, false, misleading or deceptive. You agree that you will not write a fake or defamatory review, trade reviews with other Service providers, or compensate someone, or receive compensation from someone, to write or remove a review.

    %p
      10.2 Conduct.  You agree not to use the Site to engage in any of the following activities: (a) use, display, mirror or frame the Site, any individual element within the Site, or the Lorious name, trademark, logo or other proprietary information, or the layout or design of any page, without Lorious&#39;s prior written consent; (b) access, tamper with or use non-public areas of the Site, Lorious&#39;s computer systems, or the technical delivery systems of its providers; (c) attempt to probe, scan or test the vulnerability of any Lorious system or network, or breach any security or authentication measure; (d) avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Lorious or any of its providers to protect the Site, or any Content; (e) attempt to access or search the Site, User Content or Lorious Content, or scrape or download Content from the Site; (f) send any unsolicited or unauthorized spam, advertising messages, promotional materials, email, junk mail, chain letters or other forms of solicitation; (g) use any meta tags or other hidden text or metadata utilizing the Lorious name or any Lorious trademarks, logos, or URLs without Lorious&#39;s prior written consent; (h) use the Site for any commercial purpose or the benefit of any third party, except as otherwise explicitly permitted by this Agreement; (i) forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site to send altered, deceptive, or false source-identifying information; (j) attempt to decipher, decompile, disassemble or reverse engineer the Site; (k) interfere with, or attempt to interfere with, the access of any user, host or network, including without limitation, sending a virus, overloading, flooding, spamming or mail-bombing the Site; (l) impersonate or misrepresent your affiliation with any person or entity; or (m) encourage or enable any other individual to do any of the activities prohibited by this Section.

    %p
      10.3 Procedure for Making Claims of Copyright Infringement.  It is Lorious&#39;s policy to terminate privileges of any User who repeatedly infringes copyright upon prompt notification to Lorious by the copyright owner or the copyright owner&#39;s legal agent.  Without limiting the foregoing, if you believe that your work has been copied and posted on the Site in a way that constitutes copyright infringement, please provide our Copyright Agent with the following information: (1) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; (2) a description of the copyrighted work that you claim has been infringed; (3) a description of the location on the Site of the material that you claim is infringing; (4) your address, telephone number and e-mail address; (5) a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent or the law; and (6) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner&#39;s behalf.

    %p
      11. DISCLAIMER OF WARRANTIES AND CONDITIONS.  You acknowledge that the Site is pre-production and has not been completely tested in all situations.  Lorious is providing the Site on an &#8220;AS IS&#8221; basis for use by you at your own risk.  LORIOUS DISCLAIMS ALL WARRANTIES AND CONDITIONS REGARDING THE SITE AND ANY CONTENT (INCLUDING INSTRUCTIONAL CONTENT), WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, NON-INFRINGEMENT OF THIRD PARTY RIGHTS, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

    %p
      SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR CONDITIONS, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.

    %p
      12. LIMITATION OF LIABILITY.  YOU AGREE THAT LORIOUS SHALL NOT BE RESPONSIBLE FOR ANY LOSS OR DAMAGE TO YOU OR TO ANY THIRD PARTIES CAUSED BY FAILURE OF THE SITE TO FUNCTION. IN NO EVENT WILL LORIOUS BE LIABLE FOR ANY SPECIAL, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, OR INDIRECT DAMAGES, INCLUDING LOST PROFITS, IN CONNECTION WITH THE USE OF THE SITE OR CONTENT (INCLUDING INSTRUCTIONAL CONTENT) OR IN CONNECTION WITH ANY OTHER CLAIM ARISING FROM THESE TERMS, EVEN IF LORIOUS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  LORIOUS&#39;S AGGREGATE CUMULATIVE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT SHALL BE $100.

    %p
      SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM JURISDICTION TO JURISDICTION.

    %p
      13. RELEASE.  To the maximum extent permitted by applicable law, you hereby release and waive all claims against Lorious and its employees and agents from any and all liability for claims, damages (actual and consequential), costs and expenses (including litigation costs and attorneys&#39; fees) of every kind and nature, arising out of or in any way connected with any interaction and communication with any person or entity through your use of the Site.  If you are a California resident, you waive your rights, whether known or unknown, under California Civil Code §1542, which states, &#8220;A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.&#8221; Residents of other states and nations similarly waive their rights under applicable and/or analogous statutes or regulations.

    %p
      14. GENERAL PROVISIONS.

    %p
      14.1 Third Party Licensors and Providers.  The limitations, disclaimers, and protections of Sections 10 and 11 may be extended by Lorious to any third party who licenses or provides to Lorious any software, data, services, products, or intellectual property relevant to the Site or this Agreement.

    %p
      14.2 Governing Law.  This Agreement and any action related thereto will be governed and interpreted by and under the laws of the State of Delaware, without giving effect to any conflict of laws principles that require the application of the law of another jurisdiction.  You agree to submit to the personal jurisdiction of the courts located within the State of Delaware, for the purpose of litigating all such claims or disputes.  Notwithstanding the foregoing, Lorious may seek injunctive or other equitable relief to protect its intellectual property rights in any court of competent jurisdiction.

    %p
      14.3 Severability.  If any provision of this Agreement is, for any reason, held to be invalid or unenforceable, the other provisions of this Agreement will remain enforceable and the invalid or unenforceable provision will be deemed modified, so that it is valid and enforceable to the maximum extent permitted by law.

    %p
      14.4 No Assignment.  This Agreement, and your rights and obligations herein, may not be assigned, subcontracted, delegated, or otherwise transferred by you without Lorious&#39;s prior written consent, and any attempted assignment, subcontract, delegation, or transfer in violation of the foregoing will be null and void.  This Agreement shall be binding upon assignees.

    %p
      14.5 Injunctive Relief.  You acknowledge that any breach of this Agreement by you would cause irreparable injury to Lorious for which monetary damages would not be an adequate remedy and, therefore, will entitle Lorious to injunctive relief (including specific performance).  The rights and remedies provided to each party are cumulative and in addition to any other rights and remedies available to such party at law or in equity.

    %p
      14.6 Waiver.  Any waiver or failure to enforce any provision in this Agreement on one occasion will not be deemed a waiver of any other provision or of such provision on any other occasion.

    %p
      14.7 Export.  You agree not to export, reexport, or transfer, directly or indirectly, any U.S. technical data acquired from Lorious, or any products utilizing such data, in violation of the United States export laws or regulations.  You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a &#8220;terrorist supporting&#8221; country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.

    %p
      14.8 Entire Agreement.  This Agreement is the final, complete, and exclusive agreement of the parties with respect to the subject matter hereof, and supersedes and merges all prior discussions between the parties with respect to such subject matter.

    %p
      Contact Information:
      %br
      %address
        %strong
          Lorious Inc.
        %br
        Henry Hund c/o Business Building Program, Vance Hall, Suite 112
        %br
        3733 Spruce Street
        %br
        Philadelphia PA 19104
        %br Email: questions@lorious.com
